In [1]:
from pymongo import MongoClient
import base64
import io
from PIL import Image
import sys
sys.path.insert(0, '../img2vec/')
from img2vec import Image2Vec
import threading
from time import time
import logging
from pprint import pprint
import pandas as pd


username = 'username'
fullname = 'fullname'
biography = 'biography'
followed_by = 'followedby'
follow = 'follow'
is_business_account = 'isbusinessaccount'
is_joined_recently = 'isjoinedrecently'
business_category_name = 'businesscategoryname'
business_category_name = 'categoryid'
is_private = 'isprivate'
is_verified = 'isverified'
has_connected_fb = 'connectedfbpage'
profile_pic = 'profilepic'
profile_pic_url = 'profilepicurl'
posts_count = 'postscount'
posts = 'posts'
image = 'image'
profile_pic_embedding = 'profilepicembedding'
image_embedding = 'profilepicembedding'

In [2]:
def setup_connection():

    SERVER_IP = "213.136.94.240"
    USERNAME = "admin"
    PASSWORD = "04061997"

    client = MongoClient(host=SERVER_IP, username=USERNAME, password=PASSWORD)
    print("Client established")

    db = client.instagramAuditor
    profiles = db.profiles
    print("Collection retrieved")
    
    return profiles

In [3]:
profiles = setup_connection()

Client established
Collection retrieved

In [4]:
cursor = profiles.find({},{'profilepicembedding':1,'posts.profilepicembedding':1}).limit(10000)
resulting_tsv = pd.DataFrame()
for document in cursor: 
    #pprint(len(document['profilepicembedding']))
    if('profilepicembedding' in document):
        resulting_tsv = resulting_tsv.append(pd.DataFrame([document['profilepicembedding']]))
    #if(len(document['posts']) > 0):
    #    pprint(len(document['posts'][0]['profilepicembedding']))
    

resulting_tsv.to_csv('test1.tsv', sep = '\t', header=False)

In [34]:
''

   0  1  2  3
0  1  2  3  5
0  1  2  3  5